<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{title}}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aui/9.1.4/aui/aui-prototyping.min.css"
          integrity="sha512-2VXKMM3qfYnAN5GsMtQnqdd3oQNLuwvsYIKzK23d0ZH6x43Hhkb9/ILN3vuwpjINgNP8OzruJTAR4UWiMfLH4w=="
          crossorigin="anonymous" />

        <link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
        <!-- section with scripts -->
        <script src="https://browser.sentry-cdn.com/5.6.3/bundle.min.js"
                integrity="sha384-/Cqa/8kaWn7emdqIBLk3AkFMAHBk0LObErtMhO+hr52CntkaurEnihPmqYj3uJho" crossorigin="anonymous">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/aui/9.1.4/aui/aui-prototyping.js"
          integrity="sha512-pyCPjCd5Am5QwvIBuZtDNPnl+NAStc3gUUUVKv33ENh3/5rDA8932rp43qQpuO92yUAYUAZHMvywX5Q7pa0c4Q=="
          crossorigin="anonymous"></script>
        <script src="https://connect-cdn.atl-paas.net/all.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.4.1/jquery-migrate.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/egeriis/zipcelx/lib/standalone.js"></script>
        <script src="https://connect-cdn.atl-paas.net/all.js" data-options="resize:true; sizeToParent:true"></script>
    </head>

    <body class="aui-page-hybrid our-body" style="overflow-y:hidden; background-color: #FFFFFF;">
        {{{body}}}
        <script>
          // Current jwt
          window.jwt = '{{ token }}';
          window.baseUrl = '{{ hostBaseUrl }}';
        </script>
        <script src="/js/index.js"></script>
        <script>AP.sizeToParent();</script>
    </body>
</html>
