<div id="main-table-panel" class="py-3" style="overflow-x: auto; height: inherit">
    <div class="container">
      <form class="aui large-label">
        <aui-label for="filter-select">Select issues by filter:</aui-label>
        <aui-select
          id="filter-select"
          class="ml-2"
          name="filter"
          placeholder="default filter"
        >
          {{#filters}}
            <aui-option value="{{ id }}">{{ name }}</aui-option>
          {{/filters}}
        </aui-select>
      </form>

      <table id="filter-result" class="aui mt-3" style="display: none;"></table>
    </div>
</div>
